@{
    ViewData["Title"] = "Resume";
}

<!-- Page Content-->
<div class="container px-5 my-5">
    <div class="text-center mb-5">
        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">이력사항</span></h1>
    </div>
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-11 col-xl-9 col-xxl-8">
            <!-- Experience Section-->
            <section>
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h2 class="text-primary fw-bolder mb-0">학력</h2>
                    <!-- Download resume button-->
                    <!-- Note: Set the link href target to a PDF file within your project-->
                    <a class="btn btn-primary px-4 py-3" href="/assets/이력서.docx" download>
                        <div class="d-inline-block bi bi-download me-2"></div>
                        Download Resume
                    </a>
                </div>
                <!-- Experience Card 1-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-primary fw-bolder mb-2">2018 - 2024</div>
                                    <div class="small fw-bolder">울산대학교</div>
                                    <div class="small text-muted">IT융합학과</div>
                                </div>
                            </div>
                            <div class="col-lg-8"><div>울산대학교 IT융합학과는 IT 기술과 다양한 분야의 융합을 중점으로 구성되어있습니다. 
                                다양한 언어부터 서버, 네트워크, 웹, 임베디드, 빅데이터, AI, 정보보안 등을 공부했습니다.
                                개인적으론 정보보안동아리 "Unknown", 발명영재학교 조교에 참여했습니다.</div></div>
                        </div>
                    </div>
                </div>

                @* <!-- Experience Card 2-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-primary fw-bolder mb-2">2017 - 2019</div>
                                    <div class="small fw-bolder">SEM Specialist</div>
                                    <div class="small text-muted">Wayne Enterprises</div>
                                    <div class="small text-muted">Gotham City, NY</div>
                                </div>
                            </div>
                            <div class="col-lg-8"><div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laudantium, voluptatem quis repellendus eaque sit animi illo ipsam amet officiis corporis sed aliquam non voluptate corrupti excepturi maxime porro fuga.</div></div>
                        </div>
                    </div>
                </div> *@
                <!-- Education Section-->
                <section>
                    <h2 class="text-secondary fw-bolder mb-4">자격증</h2>
                    <!-- Education Card 1-->
                    <div class="card shadow border-0 rounded-4 mb-5">
                        <div class="card-body p-5">
                            <div class="row align-items-center gx-5">
                                <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                    <div class="text-center bg-light p-4 rounded-4">
                                        <div class="text-secondary fw-bolder mb-2">2024. 06. 18</div>
                                        <div class="mb-2">
                                            <div class="small fw-bolder">정보처리기사</div>
                                            <div class="small text-muted">한국산업인력공단</div>
                                            <div class="fst-italic">
                                                <div class="small text-muted">24201210567M</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @* <div class="col-lg-8">
                                    <div>Window플랫폼 기반 IoT 개발자 과정으로 C, C++, C#, Python, 
                                    자료구조, 알고리즘, 네트워크, DB, WPF, ASP.NET, 라즈베리파이, 아두이노 등등 
                                    임베디드 개발자에 필요한 역량들을 배웠습니다.
                                    </div>
                                </div> *@
                            </div>
                        </div>
                    </div>
                    <!-- Education Card 2-->
                    <div class="card shadow border-0 rounded-4 mb-5">
                        <div class="card-body p-5">
                            <div class="row align-items-center gx-5">
                                <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                    <div class="text-center bg-light p-4 rounded-4">
                                        <div class="text-secondary fw-bolder mb-2">2024. 06. 07</div>
                                        <div class="mb-2">
                                            <div class="small fw-bolder">데이터 분석 준전문가(ADsP)</div>
                                            <div class="small text-muted">한국데이터진흥원</div>
                                        </div>
                                        <div class="fst-italic">
                                            <div class="small text-muted">ADsP-041016367</div>
                                        </div>
                                    </div>
                                </div>
                                @* <div class="col-lg-8">
                                    <div>클라우드 이해는 클라우드에 대한 이론적인 지식과 Google Cloud와 Azure에 대해 배웠으며
                                    AI 정형 데이터 분석활용에서 Google Colab과 TensorFlow를 활용하여 실습을 진행했습니다.
                                    </div>
                                </div> *@
                            </div>
                        </div>
                    </div>
                    <!-- Education Card 3-->
                    <div class="card shadow border-0 rounded-4 mb-5">
                        <div class="card-body p-5">
                            <div class="row align-items-center gx-5">
                                <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                    <div class="text-center bg-light p-4 rounded-4">
                                        <div class="text-secondary fw-bolder mb-2">2024. 06. 21</div>
                                        <div class="mb-2">
                                            <div class="small fw-bolder">SQL 개발자(SQL D)</div>
                                            <div class="small text-muted">한국데이터진흥원</div>
                                        </div>
                                        <div class="fst-italic">
                                            <div class="small text-muted">SQLD-053013743</div>
                                        </div>
                                    </div>
                                </div>
                                @* <div class="col-lg-8">
                                    <div>
                                        클라우드 이해는 클라우드에 대한 이론적인 지식과 Google Cloud와 Azure에 대해 배웠으며
                                        AI 정형 데이터 분석활용에서 Google Colab과 TensorFlow를 활용하여 실습을 진행했습니다.
                                    </div>
                                </div> *@
                            </div>
                        </div>
                    </div>
            </section>
            <!-- Education Section-->
            <section>
                    <h2 class="text-success fw-bolder mb-4">교육</h2>
                <!-- Education Card 1-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                        <div class="text-success fw-bolder mb-2">2024. 01 - 2024. 09</div>
                                    <div class="mb-2">
                                        <div class="small fw-bolder">Window플랫폼 기반 IoT 개발자 과정</div>
                                        <div class="small text-muted">부경대학교 <br />인력자원개발센터</div>
                                        <div class="fst-italic">
                                        <div class="small text-muted">1200시간 과정</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <div class="col-lg-8">
                                    <div>
                                        Window플랫폼 기반 IoT 개발자 과정으로 C, C++, C#, Python,
                                        자료구조, 알고리즘, 네트워크, DB, WPF, ASP.NET, 라즈베리파이, 아두이노 등등
                                        임베디드 개발자에 필요한 역량들을 배웠습니다.
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <!-- Education Card 2-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                        <div class="text-success fw-bolder mb-2">2022. 12 - 2022. 12</div>
                                    <div class="mb-2">
                                        <div class="small fw-bolder">클라우드 이해 및 AI 정형 데이터 분석활용</div>
                                        <div class="small text-muted">대구 디지털혁신 진흥원</div>
                                    </div>
                                    <div class="fst-italic">
                                        <div class="small text-muted">클라우드 이해 - 40시간</div>
                                        <div class="small text-muted">AI 정형 데이터 분석활용 - 40시간</div>
                                    </div>
                                </div>
                            </div>
                                <div class="col-lg-8">
                                    <div>
                                        클라우드 이해는 클라우드에 대한 이론적인 지식과 Google Cloud와 Azure에 대해 배웠으며
                                        AI 정형 데이터 분석활용에서 Google Colab과 TensorFlow를 활용하여 실습을 진행했습니다.
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <!-- Education Card 3-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                        <div class="text-success fw-bolder mb-2">2022. 09 - 2022. 10</div>
                                    <div class="mb-2">
                                        <div class="small fw-bolder">빅데이터 분석</div>
                                        <div class="small text-muted">울산대학교 스마트제조 고급인력양성센터</div>
                                    </div>
                                    <div class="fst-italic">
                                        <div class="small text-muted">60시간 과정</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div>
                                    빅데이터 수집 및 활용에 대한 지식을 습득하였고 웹크롤링, API 활용, Matlab 등을
                                    활용하여 빅데이터에 대한 기본적인 실무적 지식을 습득했습니다.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Divider-->
            <div class="pb-5"></div>
            <!-- Skills Section-->
            <section>
                <!-- Skillset Card-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <!-- Professional skills list-->
                        <div class="mb-5">
                            <div class="d-flex align-items-center mb-4">
                                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-tools"></i></div>
                                <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">개발 영역</span></h3>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3 mb-4">
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Embedded Development</div></div>
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">F/W Development</div></div>
                                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">WPF Development</div></div>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3">
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">ERP/MES</div></div>
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">DataBase</div></div>
                                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">.NET Development</div></div>
                            </div>
                        </div>
                        <!-- Languages list-->
                        <div class="mb-0">
                            <div class="d-flex align-items-center mb-4">
                                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-code-slash"></i></div>
                                <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">언어</span></h3>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3 mb-4">
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">C/C++</div></div>
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">C#</div></div>
                                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Python</div></div>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3">
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Java</div></div>
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">HTML</div></div>
                                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">CSS</div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>